<article class="m-3">
  <h2>List of screenings</h2>
  <section class="d-flex flex-column gap-2">
    @for (screening of screenings; track screening.id) {
      <div class="card mt-1">
        <div class="card-body">
          <h5 class="card-title">{{ screening.movie.title }} ({{ screening.movie.year }})</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted"> Directed by {{ screening.movie.director }}</h6> -->
          <p class="card-text m-0">Date: {{ screening.date_of_beginning }}</p>
          <p class="card-text m-0">Start: {{ screening.hour_of_beginning }}</p>
          <p class="card-text m-0"> Length: {{ screening.movie.length_in_mins }} min</p>
          <p class="card-text"> Hall: {{ screening.cinema_hall }}</p>

          <a [routerLink]="[screening.id, 'edit']" class="card-link">Movie Details</a>
          <a [routerLink]="[screening.id, 'edit']" class="card-link">Get Tickets</a>
        </div>
      </div>
    }

  </section>
</article>
