$card-width: 18rem;
$card-image-height: 150px;
$subtitle-height: 20px;

.article {
  margin: 3rem;

  h2 {
    // Styles for h2 can be nested here if needed
  }

  section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: start;

    .card {
      margin-top: 1rem;
      width: $card-width;
      display: flex;
      flex-direction: column;
      height: 100%; // Adjust based on actual content to ensure alignment

      .card-body {
        display: flex;
        flex-direction: column;
        height: 100%;

        .card-title,
        .card-subtitle,
        .card-text {
          flex: 0 0 auto;
        }

        .card-img {
          flex-grow: 1;
          object-fit: cover;
          height: $card-image-height;
        }

        .card-subtitle {
          height: $subtitle-height;
        }

        .mt-auto { // This is for pushing links to the bottom
          margin-top: auto;
        }
      }
    }
  }
}